.weather {
    position: relative;
    overflow: hidden;
    width: 100%;

    &__when {
        font-size: 18px;
        color: $main-text-color;
        padding: 0 10px;
    }
    
    &__when-holiday {
        color: #ff1500;
    }
    
    &__container {
        padding: 8px 10px;
    }
    
    &__time {
        vertical-align: middle;
        color: $gray-text-color;
        display: inline-block;
        width: 72px;
    }
    
    &__icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-size: cover;
        vertical-align: middle;
    }
    
    &__degree {
        display: inline-block;
        margin-left: 10px;
    }
}

.weather-now {
    padding: 10px;

    &__degree {
        font-size: 48px;
        vertical-align: middle;
    }
    
    &__additional {
        margin-left: 10px;
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
    }
    
    &__icon {
        width: 48px;
        height: 48px;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
    }
    
    &__condensation {
        vertical-align: middle;
        margin-left 15px;
        display: inline-block;
    }
    
    &__condensation:first-letter {
        text-transform: capitalize;
    }
}

.additional__line {
    color: $gray-text-color;
    margin: 0;
}