.twitter-typeahead {
	display: block !important;
}

.tt-dropdown-menu {
	top: 105% !important;
	left: -26px !important;
	background-color: #fff;
}

.tt-dataset-0 {
	display: inline-block;
	position: relative;
	font-size: 15px;
	background-clip: padding-box;
	background-color: #fff;
	width: 100%;
}

p.tt-suggestion {
	border-bottom: 1px solid #d9d9d9;
	margin: 0 -10px;
	padding: 15px 16px;
	cursor: pointer;
}

.tt-suggestion p:hover {
	background-color: #bcd3ff !important;
}

.tt-suggestion__span {
	color: #999;
	position: absolute;
	right: 15px;
}

.tt-menu {
	width: 100%;	
}
