.weather-full {

    &__container {
        @extends .weather__container
    }
    
    &__icon {
        @extends .weather__icon
    }
    
    &__degree {
        @extends .weather__degree
    }
    
    &__time {

    }
    
    &__condensation {
        
    }
}