//////////
// FOOTER 
//////////

.footer {
    font-size: 14px;
    color: $main-text-color;
    padding: 0 10px;
    
    &__link-list {
        padding-left: 0;
        list-style-type: none;
    }
}

.link-list {
    &__item {
        color: $link-text-color;
        line-height: 26px;
        
        &:hover {
            color: $link-text-color;
            text-decoration: none;
        }
    }
}
    
