////////////
// HEADER
////////////

.header__logo {
    width: 100%;
    border-bottom: 1px solid $border-gray;
    padding: 10px 10px 0;
    box-sizing: border-box;
}

.logo {

    &__ya {
        display: inline-block;
        background-image: url('http://yastatic.net/www/2.131/yaru/i/logo.png1');
        width: 100px;
        height: 44px;
        vertical-align: middle;
        margin-right: 10px;
    }
    
    &__weather {
        display: inline-block;
        text-decoration: none;
        color: $main-text-color;
        padding: 4px 7px 4px 12px;
        position: relative;
        border: 2px solid #fc0;
        vertical-align: middle;

        &:hover {
            color: $main-text-color;
            text-decoration: none;
        }

        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            right: -10px;
            top: -3px;
            border-color: transparent transparent transparent #fc0;
            border-width: 17px 0 17px 9px;
            border-style: solid;
        }

        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: -1px;
            right: -8px;
            border-color: transparent transparent transparent #fff;
            border-width: 15px 0 15px 8px;
            border-style: solid;
        }
    }
}

//////////
// SEARCH FORM
//////////

.header__search {
    padding: 5px 10px 5px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}


.search {

    &__input {
        border: 1px solid $border-gray;
        height: 32px;
        width: 100%;
        font-size: 15px;
        outline: none;
        border-radius: 0 3px 3px 0;
        padding-left: 5px;
        box-sizing: border-box;

        &:focus {
            box-shadow: 0 0 6px 2px rgba(255, 204, 0, 0.7);
        }
    }
    
    &__submit {
        border: 1px solid $border-gray;
        background-color: #fff;
        height: 32px;
        width: 72px;
        font-size: 16px;
        outline: none;
        border-radius: 0 3px 3px 0;
        position: absolute;
        top: 5px;
        right: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    &__clear {
        background: url(http://market.yandex.ru/_/K4e4uv8u9I9wb1fi17d8-3Jnr2A.svg) 50% 50% no-repeat;
        width: 32px;
        height: 32px;
        display: block;
        right: 0;
        opacity .3;
        position: absolute;
        top: 5px;
        right: 82px;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}
