.map__placemark {
	display: inline-block;
	height: 24px;
	padding: 3px;
	white-space: nowrap;
	border-radius: 16px;
	background: #fff;
 	background: rgba(255,255,255,.85);
 	cursor: pointer;
}

.map__icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	background-size: cover;
	vertical-align: middle;
}

.map__temp {
	vertical-align: middle;
	font-size: 15px;
	margin-left: 5px;
}
